@main("All documents") {

    <div class="container">
        <div id="store" class="row">
            <section class="products col-md-8">
                <h1>Produits</h1>
                <ul class="product-list">
                    <li class="product-item">
                        <div class="product">
                            <p class="title">{{product.title}}</p>
                            <p class="description">{{product.description}}</p>
                            <p class="price">{{product.price}}</p>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="cart col-md-4">
                <h1>Panier</h1>
            </section>
        </div>
    </div>

    <!-- Vendor libs -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("backbone-min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("react.min.js"))'></script>

    <!-- Store app -->
    <script src="@routes.Assets.at("javascripts/views/app-view.js")"></script>
    <script src="@routes.Assets.at("javascripts/app.js")"></script>

@*
    <script src="@routes.Assets.at("javascripts/models/xxx.js")"></script>
    <script src="@routes.Assets.at("javascripts/collections/xxx.js")"></script>
*@

}
