@main("All documents") {

    <div class="container">
        <div id="store" class="row">
            <section class="products col-md-8">
                <h1>Produits</h1>
                <ul class="product-list">
                    <script type="text/template" id="product-item">
                    <li class="product-item">
                        <div class="product">
                            <p class="name"><%= name %></p>
                            <p class="description"><%= description %></p>
                            <p class="price"><%= price %></p>
                        </div>
                    </li>
                    </script>
                </ul>
            </section>
            <section class="cart col-md-4">
                <h1>Panier</h1>
            </section>
        </div>
    </div>

    <!-- Vendor libs -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("underscore-min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("backbone-min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("react.min.js"))'></script>

    <!-- App -->
    <script src="@routes.Assets.at("javascripts/app.js")"></script>
    <script src="@routes.Assets.at("javascripts/models.js")"></script>
    <script src="@routes.Assets.at("javascripts/views.js")"></script>
    <script src="@routes.Assets.at("javascripts/router.js")"></script>

}
